.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 10;
    -fx-background-color: linear-gradient(rgba(255,162,0,1) 0%, rgba(255,0,249,0.6867121848739496) 100%);
}
.slider .track {
    -fx-pref-height:20;
}

.slider .track {
    -fx-opacity: 0;
}