
.pane{
    -fx-background-color: linear-gradient(to top, rgba(0,0,0,0.8799894957983193) 0%, rgba(0,0,0,0.804359243697479) 100%);
}

.button{
    -fx-background-radius: 9;
    -fx-background-color: linear-gradient(to right, rgba(255,162,0,1) 0%, rgba(255,0,249,0.6867121848739496) 100%);
    -fx-font: bold 12px "Tohama";
    -fx-text-fill: #262626;
    -fx-effect: dropshadow(gaussian,#262626 , 10, 0.4, 0.0, 0.0);
}

.table-view{
    -fx-font: 12px "Tohama";
    -fx-background-color: #262626;
    -fx-background-radius: 9;
    -fx-border-color: #262626;
    -fx-border-radius: 6;
    -fx-effect: dropshadow(gaussian,#262626 , 30, 0.4, 0.0, 0.0);
}

.text-field{
    -fx-font: bold 12px "Tohama";
    -fx-background-color: #262626;
    -fx-text-fill: #fff2cc;
}

.combo-box{
    -fx-background-color: #262626;
    -fx-font: 12px "Tohama";

}

.label{
    -fx-font: bold 14px"Tohama";
    -fx-text-fill: #fff2cc;
}


.progress-bar > .track {
    -fx-text-box-border: #3d3d29;
    -fx-control-inner-background: #3d3d29;
}

.slider > .track{
    -fx-background-color: #3d3d29;


}

.table-column{
    -fx-border-color: #000000;

}

#searchComboBox{
    -fx-prompt-text-fill: #fff2cc;
}

.progress-bar{
    -fx-shadow-highlight-color: transparent;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, rgba(255,162,0,1) 0%, rgba(255,0,249,0.6867121848739496) 100%);
}

.slider .thumb {
    -fx-background-color: linear-gradient(to right, rgba(255,162,0,1) 0%, rgba(255,0,249,0.6867121848739496) 100%);
}

.combo-box .cell{
    -fx-font: bold 12px"Tohama";
    -fx-text-fill: #fff2cc;
    -fx-background-color: #262626;
}

.table-column{
    -fx-background-color: #262626 ;
    -fx-text-fill: #fff2cc;
}

.table-view .scroll-bar{
    -fx-background-color: #262626;
}

.table-view .corner{
    -fx-background-color: #262626;
}

.table-view .column-header .label{
    -fx-text-fill: #fff2cc;
}

.table-view .column-header-background .filler{
    -fx-background-color: #262626;
}

.table-view .column-header-background{
    -fx-background-color: #262626;
}


.table-row-cell:selected .text {
    -fx-fill: #fd78ff ;
}

.table-view .cell{
    -fx-background-color: #262626;
    -fx-font: bold 12px"Tohama";
    -fx-text-fill: #fff2cc;
}

.table-row-cell .text {
    -fx-fill:  #fff2cc;
}
